plots/Ex/fss_collapsed_data_d=3_a=220.pdf
plots/Ex/fss_collapsed_data_d=3_a=463.pdf
plots/Ex/fss_collapsed_data_d=3_a=775.pdf
plots/Ex/fss_collapsed_data_d=3_a=1037.pdf
plots/Ex/fss_collapsed_data_d=3_a=κ=0.87.pdf
plots/Ex/fss_collapsed_data_d=4_a=775.pdf
plots/Ex/fss_collapsed_data_d=4_a=1037.pdf
plots/Ex/fss_collapsed_data_d=4_a=κ=0.87.pdf
plots/Ex/fss_collapsed_data_d=5_a=1037.pdf
plots/Ex/fss_collapsed_data_d=5_a=κ=0.87.pdf
plots/Ex/fss_linear_fits_d3_Kc0.8.pdf
plots/Ex/fss_linear_fits_d3_Kc0.917.pdf
plots/Ex/fss_linear_fits_d3_Kc0.927.pdf
plots/Ex/fss_linear_fits_d3_Kc1.16.pdf
plots/Ex/fss_linear_fits_d3_Kc1.162.pdf
plots/Ex/fss_linear_fits_d4_Kc0.8.pdf
plots/Ex/fss_linear_fits_d4_Kc0.726.pdf
plots/Ex/fss_linear_fits_d4_Kc0.744.pdf
plots/Ex/fss_linear_fits_d4_Kc0.794.pdf
plots/Ex/fss_linear_fits_d4_Kc0.927.pdf
plots/Ex/fss_linear_fits_d4_Kc1.16.pdf
plots/Ex/fss_linear_fits_d5_Kc0.726.pdf
plots/Ex/fss_linear_fits_d5_Kc1.16.pdf
plots/Ex/fss_raw_data_d=3_a=220.pdf
plots/Ex/fss_slope_scaling_d3_κc0.8.pdf
plots/Ex/fss_slope_scaling_d3_κc0.917.pdf
plots/Ex/fss_slope_scaling_d3_κc0.927.pdf
plots/Ex/fss_slope_scaling_d3_κc1.16.pdf
plots/Ex/fss_slope_scaling_d3_κc1.162.pdf
plots/Ex/fss_slope_scaling_d4_κc0.8.pdf
plots/Ex/fss_slope_scaling_d4_κc0.726.pdf
plots/Ex/fss_slope_scaling_d4_κc0.744.pdf
plots/Ex/fss_slope_scaling_d4_κc0.794.pdf
plots/Ex/fss_slope_scaling_d4_κc0.927.pdf
plots/Ex/fss_slope_scaling_d4_κc1.16.pdf
plots/Ex/fss_slope_scaling_d5_κc0.726.pdf
plots/Ex/fss_slope_scaling_d5_κc1.16.pdf
plots/Ex/Kc_fit_Ex_d=3_a=220.pdf
plots/Ex/Kc_fit_Ex_d=3_a=463.pdf
plots/Ex/Kc_fit_Ex_d=3_a=775.pdf
plots/Ex/Kc_fit_Ex_d=4_a=775.pdf
plots/Ex/Kc_fit_Ex_d=4_a=1037.pdf
plots/Ex/Kc_fit_Ex_d=5_a=1037.pdf
